* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

img, svg, iframe {
    max-width: 100%;
}

form {
    display: grid;
    place-items: center;
    width: 230px;
    height: 140px;
    border: double;
}
div {
    margin-top: 30px;
    display: grid;
    place-items: center;
}
input {
    margin: 10px;
}
#login_status {
    text-align: center;
    margin-top: 30px;
}
.message_success {
    text-align: center;
    margin-top: 30px;
}
#card_container {
    display: grid;
    place-items: center;
    margin-top: 50px;
}
.color_box {
    width: 70px;
    height: 30px;
    text-align: center;
    border: solid;
    padding: 5px;
}
#log_out {
    position: absolute;
    margin-left: 90%;

}